@model Application.DTOs.User.UserProfile;
@{
    ViewData["Title"] = "PersonalCabinet";
}

<div class="create-university">
    <div class="container">
        <h1>Personal Cabinet </h1>
        <form name="my-form" autocomplete="off" action="/User/UpdatePersonalInfo" method="post">

            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" placeholder="Email" name="Email" value="@Model.Email" readonly required="" />

            </div>

            <div class="form-group">
                <label for="LastName">Last name</label>
                <input type="text" class="form-control" placeholder="Last name" name="LastName" value="@Model.LastName" required="" />
            </div>

            <div class="form-group">
                <label for="FirstName">First name</label>
                <input type="text" class="form-control" placeholder="First name" name="FirstName" value="@Model.FirstName" required="" />
            </div>

            <div class="form-group">
                <label for="City">City</label>
                <input type="text" class="form-control" placeholder="City" name="City" value="@Model.City" required="" />
            </div>

            <div class="form-group">
                <label for="DateOfBirth">Date of birth</label>
                <input type="date" class="form-control" placeholder="Date of birth" name="DateOfBirth" value="@Model.DateOfBirth" />
            </div>


            <button type="submit" class="btn btn-primary">Update</button>
        </form>

        <br />


        @if (!User.IsInRole("Administrator") && !User.IsInRole("SuperAdmin"))
        {
            <form name="my-form" autocomplete="off" action="/User/AddTests" method="post">

                <div class="form-group">
                    <label for="ZnoModels">First ZNO</label>
                    @*<select required="" asp-for="testHelper1.Name">*@
                    @*<option disabled selected="selected">Ukrainian</option>*@
                    <select required="" asp-for="testHelper1.Name" onchange="doSomething(this)">
                        <option disabled selected="selected">-- select zno --</option>

                        <option name="1">Ukrainian</option>
                        @*<option name="2">Geography</option>
                        <option name="3">History</option>
                        <option name="4">English</option>
                        <option name="5">Spanish</option>
                        <option name="6">French</option>
                        <option name="7">German</option>
                        <option name="8">Biology</option>
                        <option name="9">Physics</option>
                        <option name="10">Chemistry</option>
                        <option name="11">Ukrainian</option>*@

                    </select>

                </div>

                <div class="form-group">
                    <input asp-for="testHelper1.Mark" type="number" max="200" min="0" step="0.1" class="form-control" placeholder="Mark" required="" />
                </div>

                <br />

                <div class="form-group">
                    <label for="ZnoModels">Second ZNO</label>
                    <select required="" asp-for="testHelper2.Name" onchange="doSomething(this)">
                        <option disabled selected="selected">-- select zno --</option>

                        <option name="1">Math</option>
                        <option name="2">Geography</option>
                        <option name="3">History</option>
                        <option name="4">English</option>
                        <option name="5">Spanish</option>
                        <option name="6">French</option>
                        <option name="7">German</option>
                        <option name="8">Biology</option>
                        <option name="9">Physics</option>
                        <option name="10">Chemistry</option>

                    </select>
                </div>

                <div class="form-group">
                    <input asp-for="testHelper2.Mark" type="number" max="200" min="0" step="0.1" class="form-control" placeholder="Mark" required="" />
                </div>

                <br />


                <div class="form-group">
                    <label for="ZnoModels">Third ZNO</label>
                    <select required="" asp-for="testHelper3.Name" onchange="doSomething(this)">
                        <option disabled selected="selected">-- select zno --</option>

                        <option name="1">Math</option>
                        <option name="2">Geography</option>
                        <option name="3">History</option>
                        <option name="4">English</option>
                        <option name="5">Spanish</option>
                        <option name="6">French</option>
                        <option name="7">German</option>
                        <option name="8">Biology</option>
                        <option name="9">Physics</option>
                        <option name="10">Chemistry</option>

                    </select>
                </div>

                <div class="form-group">
                    <input asp-for="testHelper3.Mark" type="number" max="200" min="0" step="0.1" class="form-control" placeholder="Mark" required="" />
                </div>

                <br />



                <div class="form-group">
                    <label for="ZnoModels">Four ZNO</label>
                    <select required="" asp-for="testHelper4.Name" onchange="doSomething(this)">
                        <option disabled selected="selected">-- select zno --</option>

                        <option name="1">Math</option>
                        <option name="2">Geography</option>
                        <option name="3">History</option>
                        <option name="4">English</option>
                        <option name="5">Spanish</option>
                        <option name="6">French</option>
                        <option name="7">German</option>
                        <option name="8">Biology</option>
                        <option name="9">Physics</option>
                        <option name="10">Chemistry</option>
                        <option name="11" selected> None</option>
                    </select>
                </div>

                <div class="form-group">

                    <input asp-for="testHelper4.Mark" type="number" max="200" min="0" step="0.1" class="form-control" placeholder="Mark" required="" />
                </div>


                <button type="submit" class="btn btn-primary">Update</button>



            </form>
        

            <br />

            <form asp-action="AddFile" asp-controller="User" method="post" enctype="multipart/form-data">


                <div class="form-group">
                    <label for="Passport">Passport</label><br />
                    <input type="file" name="uploads" /><br>

                </div>

                <div class="form-group">
                    <label for="SchoolDiploma">School Diploma</label><br />
                    <input type="file" name="uploads" /><br>

                </div>

                <div class="form-group">
                    <label for="Certificate">ZNO certificate</label><br />
                    <input type="file" name="uploads" /><br>

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
            }

        </div>

</div>
   